"BinDeps"
url="https://github.com/eugeneai/KyotoCabinet.jl"
url="https://github.com/eugeneai/HCGeoThermGraphics.jl"
url="https://github.com/eugeneai/HCGeoTherm.jl"
"Genie"
"Format"
"OrderedCollections"
"SMTPClient"
"Base64"
"Dates"
"Markdown"
"XLSX"
"CSV"
"DataFrames"
"JSON"
"Logging"
"BSON"
